@page
@model IndexModel
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="text-center my-auto py-5">
    <div class="mb-4">
        <div class="bg-white d-inline-block p-4 rounded-circle shadow-sm card-custom">
            <span class="fs-1">✨</span>
        </div>
    </div>
    <h1 class="fw-bold tracking-tight mb-2 fs-2">Olhar Renovado, Autoestima Elevada</h1>
    <p class="text-muted mb-5 px-3">Agende seu design de sobrancelhas personalizado com as melhores profissionais em poucos cliques.</p>

    <div class="d-grid gap-3">
        <a asp-page="/Auth/Login" class="btn btn-brand py-3 fs-5 rounded-pill shadow-sm">Começar Agendamento</a>
    </div>
</div>